.card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0.25rem 0.25rem black;
  background: #f8f8f8;
}

.card > h2{
  font-family: Inter, Verdana, Geneva, Tahona, sans-serif;
}

.card > img {
  border-radius: 1rem;
}